<div class="row">
    <div class="col-md-6 mx-auto pt-4">
            <div class="card text-dark shadow" id="post-link">
                <div class="card-header">
                    <h3>{{this.title}}</h3>
                </div>
                <div class="card-body text-truncate">
                    {{this.body}}
                </div>
            </div>
    </div>
</div>

<style>
  .card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
    transition: all 0.3s ease;
  }
  h3 {
    font-family: 'Amatic SC', cursive;
    {{!-- font-family: 'Macondo', cursive; --}}
  }
    .card-header {
        background: beige;
    }
    .card-body {
        background:blanchedalmond;
    }
    .card-footer {
        background: burlywood;
    }

</style>